body{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 300px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main h1{
        font-size: 1.9rem;
    }
    main .cards .card h2{
        padding-top: 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 580px){
    main .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    main h1{
        font-size: 1.9rem;
    }
    main .cards .card h2{
        padding-top: 0.5rem;
        font-size: 1.5rem;
    }
}


main .cards .card{
    background-color: rgba(168, 165, 165, 0.5);
    border-radius: 5px;
    width: 15rem;
    height: 20rem;
    margin: 1rem;
}

main .cards .card:hover{
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.8s;
    transform: scale(1.1);
}

main h1, main h2{
    text-shadow: 1px 1px 5px black;
}

main .cards .card p{
    margin-top: 13rem;
    text-shadow: 1px 1px 1px black;
}
main .cards .card:hover p{
    background-color: rgba(49, 49, 49, 0.5);
    transition: 1s;
    padding: 0.5rem;
}


main .cards .card hr.linhaTitulo{
    border-top: 2px solid white;
    width: 12rem;
    border-radius: 5px;
    margin-top: -15px;
}